<div class="container">

<h1 class="text-center mb-4">Teams</h1>
<div class="text-center mb-3">
  <h4 class="badge badge-info"><span class="h5">Team : Highlight</span></h4>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Team name</th>
      <th>Played</th>
      <th>Win</th>
      <th>Loose</th>
      <th>Draw</th>
      <th>Goal hit</th>
      <th>Goal against</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr class="<%= (team.id == @min_diff.id) ? 'bg-info' : '' %>">
        <td><%= team.team_name %></td>
        <td><%= team.played %></td>
        <td><%= team.win %></td>
        <td><%= team.loose %></td>
        <td><%= team.draw %></td>
        <td><%= team.goal_hit %></td>
        <td><%= team.goal_against %></td>
        <td><%= team.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center mt-4">
  <%= link_to 'Get Raw Data', raw_data_path, class: "btn btn-info" %>
</div>  

</div>